<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard for {{userName}}</title>
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>Dashboard for {{fName}} {{lName}}</h1>
        </header>
        <div class="container-fluid"></div>
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-fluid" src="dashBoardPicID1.jpeg" alt="dashboardPic">
                </div>
                <div class="col-sm-6">
                    <div class="row justify-content-evenly">
                        <div class'col-sm-6'>
                            <h1>Medication List</h1>
                        </div>
                        <div class'col-sm-6'>
                            <form action="/addNewMed" method="POST">
                                <button name="userID" type= "submit" class="btn btn-info" value="{{userID}}">Add New Medicaiton</button>
                            </form>
                        </div>  
                    </div>  
                    <table style="margin: 20\px;">
                        <tr> 
                            <th> Medication</th>
                            <th> Dose</th>
                            <th> Comment</th>
                            <th> Modify</th>
                        </tr>
                        {{#each rows}}
                            <tr>
                                <td> {{this.medName}}</td>
                                <td width="20%"> {{this.medDose}} {{this.doseUnit}} {{this.frequency}}</td>
                                <td width="35%"> {{this.comment}}</td>
                                <td>    
                                    <div class="row justify-content-start" >
                                            <form action="/deleteMed" method="POST">
                                                <input type="number" name="userID" hidden='true' value={{this.userID}}>
                                                <button name="medID" type= "submit" class="btn btn-danger" value={{this.medID}}>Delete</button>
                                            </form>
                                        
                                            <form action="/updateMed" method="POST">
                                                <input type="number" name="userID" hidden='true' value={{this.userID}}>
                                                <button name="medID" type= "submit" class="btn btn-primary" value={{this.medID}}>Update</button>
                                            </form>
                                    </div>
                                        
                                </td>
                            </tr>
                        {{/each}}
                        
                    </table>
                    
                </div>
                <form action="/covidAlert" method="POST">
                        <button type="submit" name = "userID" class = "btn btn-danger" value="{{userID}}">Covid Alert</button>
                    </form>
            </div>
        </div>
        <footer>

        </footer>
    </body>

</html>
